/* ELEMENTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  background-color: #aaa;
  color: #fff;
}
.dark_body {
  background-color: #222;
}
main {
  padding-bottom: 75px;
}
a {
  text-decoration: none;
  color: #439dec;
  font-weight: bolder;
}
iframe, video {
  border-radius: 5px;
}
/* INPUT */
.btn {
  padding: 5px;
  width: 80px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}
.dark_btn {
  background-color: #787878;
}
.input {
  width: 50vw;
  height: 30px;
  max-width: 350px;
  min-width: 150px;
  padding: 5px;
  border: 0;
  border-bottom: 2.5px solid #439dec;
  border-radius: 5px;
  outline: none;
}
.dark_input {
  background-color: #888;
}
.dark_input::placeholder {
  color: #444;
}
/* HEADER */
header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: #999;
}
.dark_header {
  background-color: #333;
}
/* MENU - THEME BTNS */
#acc_btns {
  position: fixed;
  right: 7.5px;
  bottom: 7.5px;
}
.acc_btn {
  padding: 5px;
  border: 0;
  border-radius: 50%;
}
/* MENU */
.menu {
  display: none;
  position: fixed;
  width: 25vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #888;
  border-right: 2.5px solid #bbb;
}
.dark_menu {
  background-color: #111;
  border-right: 2.5px solid #333;
}
.menu a {
  display: block;
  padding: 20px;
  width: 100%;
  color: #fff;
  text-align: center;
}
.menu a:hover {
  background-color: #777;
}
.dark_menu a:hover {
  background-color: #000;
}
/* ASIDE */
aside {
  display: none;
  position: sticky;
  height: calc(100vh - 4rem);
  top: 4rem;
  flex-direction: column;
  background-color: #888;
  border-left: 2.5px solid #bbb;
}
.dark_aside {
  background-color: #111;
  border-left: 2.5px solid #333;
}
aside a {
  padding: 20px 10px 20px 0;
  color: white;
  text-align: end;
}
aside a:hover {
  background-color: #777;
}
.dark_aside a:hover {
  background-color: #000;
}
@media screen and (min-width: 1024px) {

  body {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 4rem auto;
    grid-template-areas:
    "header header"
    "main   aside";
  }
  #acc_btns {
    left: 7.5px;
  }
  #menu_btn {
    display: none;
  }
  .online, .offline {
    grid-area: on_off;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  aside {
    display: flex;
    grid-area: aside;
  }

}
/* ONLINE */
.off_on {
  display: none;
  position: sticky;
  width: 100%;
  height: 16px;
  z-index: 100;
  top: 0;
  text-align: center;
  font-weight: bolder;
}
.offline {
  display: block;
  background-color: #f92828;
}
.online {
  display: block;
  background-color: #1eb34b;
}
/* SECTIONS */
.sec {
  display: flex;
  padding: 75px 20px 0 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec h2 {
  margin-bottom: 10px;
}
/* CLOCK */
#clock {
  margin-top: 15px;
  font-size: xx-large;
}
#section_1:first-child button {
  margin-bottom: 10px;
}
#section_1 .btn:last-child {
  margin: 0;
}
/* RESPONSIVE */
.sec h3:first-child {
  margin: 15px 0;
}
.sec h3:last-child {
  margin-top: 15px;
}
/* GEOLOCATION */
#geolocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#geolocation b:first-child {
  margin-top: 15px;
}
#geolocation b {
  margin-bottom: 20px;
}
.error {
  color: #f92828;
}
/* SEARCH FILTER */
#search_div {
  margin-top: 15px;
}
.cards {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  margin: 20px 20px 0;
  padding: 5px;
  background-color: #999;
  border-radius: 5px;
}
.dark_card {
  background-color: #444;
}
.card figcaption {
  padding: 10px 5px 5px 5px;
}
#not_found {
  display: none;
  margin-top: 20px;
}
/* SMART VIDEO */
#section_5 h3 {
  margin-top: 15px;
}
#video {
  margin-top: 20px;
  width: 70vw;
}
/* CONTACT FORM */
.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_form input:first-child {
  margin: 15px 0;
}
.contact_form input:nth-child(2) {
  margin-bottom: 15px;
}
.textarea {
  margin-bottom: 15px;
  padding: 5px;
  width: 50vw;
  max-width: 350px;
  min-width: 150px;
  border: 0;
  border-bottom: 2.5px solid #439dec;
  border-radius: 5px;
  outline: none;
  resize: none;
}
.contact_form [required]:valid {
  border-bottom: 2.5px solid #1eb34b;
}
.contact_form [required]:invalid {
  border-bottom: 2.5px solid #f92828;
}
/* VOICE SPEECH */
.select {
  margin: 15px;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  outline: none;
}