* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', monospace;
}
*::selection {
  background-color: #ba70ff4d;
}
body {
  --prim: #8c42d1;
  --sec: #6dffac;
  --primshadow: #bb72ff;
  --secshadow: #1fa659;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
}
main {
  padding-bottom: 20px;
  width: 100%;
  min-width: 340px;
  max-width: 700px;
}
/* BUTTONS */
.btn {
  padding: 5px;
  width: 55px;
  height: 25px;
  background-color: #777;
  border: 0;
  border-radius: 5px;
  text-shadow: 0 .25px #111;
}
.btn:hover {
  background-color: rgb(113, 113, 113);
}
.btn:disabled {
  background-color: rgb(116, 116, 116);
  color: #555;
  text-shadow: 0 .25px #666;
}
/* HEADER */
header {
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
  padding: 5px;
  background-color: var(--prim);
  box-shadow: 0 2.5px 2.5px var(--primshadow);
}
header h1 {
  color: var(--sec);
  text-shadow: 2.5px 2.5px var(--secshadow);
  font-family: 'Oleo Script Swash Caps', 'Exo 2';
  text-align: center;
}
/* SECTION */
.sec {
  padding: 20px 20px 0;
}
.sec_h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec_h2 h2 {
  display: inline-block;
  padding: 5px;
  background-color: #444;
  border-radius: 5px;
  color: var(--sec);
  text-shadow: 0 1px var(--secshadow);
  box-shadow: 0 2.5px 2.5px #333;
}
.sec_h2 h2 a {
  color: var(--prim);
  text-shadow: 0 1px var(--primshadow);
  text-decoration: none;
}
.sec_h3 {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  padding: 5px 5px 5px 10px;
  align-items: center;
  background-color: #999;
  box-shadow: 0 2.5px 2.5px #888;
  border-radius: 5px;
}
.sec_h3 h3 {
  display: inline-block;
  color: #333;
  text-shadow: 0 1px #666;
}
.sec_h3 div {
  position: absolute;
  right: 5px;
}
/* O-LIST */
.ol {
  padding: 10px 10px 10px 30px;
  background-color: #aaa;
  box-shadow: 0 2.5px 2.5px #999;
  border-radius: 5px;
}
.ol li {
  padding: 5px 0;
  list-style: disc;
}
.ol li:first-child {
  padding: 0 0 5px;
}
.ol li:last-child {
  padding: 5px 0 0;
}
.ol li::marker {
  color: var(--prim);
  font-weight: bold;
}